<!DOCTYPE html>
<html>
<head>
<title>Medical Expenses</title>
<style>
    .button{ 
        border:none;
        color:white;
        padding:10px 20px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:14px;
        margin:4px 2px;
        cursor:pointer;
    }
    .button1{background-color: #4caf50;}
    .button2{background-color: #008cba;}
</style>
</head>
<body style="background-color:powderblue">

<center><h1><span style="color:#FF0000">Medical Expenses App </span></h1>
    <center><h3>Please Enter the Data</h3></center> <br>

    <form action="{% url 'result' %}" method="get">
        {% csrf_token %}
        <table align="center">
            <tr><td>Age:</td><td><input type="text" required name="age"></td></tr>
            
            <tr>
                <td>Sex:</td>
                <td>
                    <select name="sex" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <!-- Add more options as needed -->
                    </select>
                </td>
            </tr>
    
            <tr><td>BMI:</td><td><input type="text" required name="bmi"></td></tr>
            <tr><td>Children:</td><td><input type="text" required name="children"></td></tr>
            
            <tr>
                <td>Smoker:</td>
                <td>
                    <select name="smoker" required>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>Region:</td>
                <td>
                    <select name="region" required>
                        <option value="southwest">southwest</option>
                        <option value="southeast">southeast</option>
                        <option value="northwest">northwest</option>
                        <option value="northeast">northeast</option>
                        <!-- Add more options as needed -->
                    </select>
                </td>
            </tr>
        </table>
        <center><button type="submit" name="submit" value="submit" class="button button1">Submit</button></center>
        <center><button type="reset" name="reset" value="reset" class="button button1">Reset</button></center>
    </form>
    
    {% if answer %}

    <center><h2 style="color:#FF6600"> The Medical Expenses is {{answer}} Dollars</h2>
    <h3 style="color:#009900">Thanks for using Medical App</h3></h2>
    </center>

    {% endif %}

</center>
</body>
</html>